@import url('https://fonts.googleapis.com/css2?family=Butcherman&display=swap');

.butcherman-regular {
  font-family: "Butcherman", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url("https://t3.ftcdn.net/jpg/06/71/72/00/360_F_671720013_A9OvHkh87X5X8EhFUHvrm1nVObkjbHJ8.jpg");
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 30vh;
    z-index: 3;
}

header {
    color: black;
    background-color: rgba(255,255,255,0.7);
    width: fit-content;
    height: fit-content;
    margin: auto;
}

#isWin {
    background-color: rgba(255, 91, 21, 0.7);
    font-size: 5vw;
    width: fit-content;
    height: fit-content;
    margin: auto;
    font-family: 'Butcherman', system-ui;
    text-decoration: wavy;
}

#fireGif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    visibility: hidden;
}